[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
extract-distinct-frames = {editable = true, path = "."}
yt-dlp = "*"

[dev-packages]

[requires]
python_version = "3.10"
